.hidden {
  transform: translateX(-16rem);
  transition: transform 300ms ease-out;
}

.sidebar {
  background-color: #ffffff;
  width: 16rem;
  height: 100vh;
  padding: 16px 10px 0 0;
  position: fixed;
  transition: transform 300ms ease-in;
  top: 0;
  right: -16rem;
}

navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
}

.left-content > .logo {
  width: 4rem;
}
.left-content {
  display: flex;
  align-items: center;
}

.menu-icons {
  width: 40px;
}

.container {
  padding: 16px;
}

.left-content > h1 {
  font-weight: 500;
  font-size: 1.7rem;
}

navbar > .middle-content {
  display: none;
}

navbar > .right-content {
  display: none;
}

.section1 {
  margin-top: 20px;
}

.section1 > img {
  width: 80vw;
  margin: 0 auto;
}

.content-section1 > .title {
  text-align: center;
}

.content-section1 > .title > h1 {
  font-size: 2rem;
  font-weight: 600;
  padding: 0 40px;
}

.content-section1 > .title > p {
  color: #4f5665;
  padding: 0 12px;
  line-height: 2;
}

.content-section1 > .buttonGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 42px;
  gap: 24px;
}

.buttonGroup > #getStarted {
  padding: 20px 100px;
  background-color: #f53838;
  color: white;
  border: none;
  border-radius: 0.5rem;
}
.buttonGroup > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.buttonGroup > div > #device {
  display: flex;
  align-items: center;
  row-gap: 8px;
  padding: 20px 80px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 9999px;
}

.section2 {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section2 > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.section2 > img {
  width: 100px;
}

div > #content > h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 8px 0px;
}

div > #content > p {
  color: #4f5665;
  padding: 0 12px;
  line-height: 2;
}

div > #learnMore {
  display: flex;
  align-items: center;
}

div > #learnMore > p {
  margin: 0 8px;
  color: #080047;
  font-weight: 600;
}

.section3 {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section3 > div > h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 8px 0px;
}

.section3 > div > p {
  padding: 0 12px;
  line-height: 2;
  font-weight: 600;
}

.section3 > div > button {
  margin: 10px auto;
  padding: 20px 88px;
  background-color: #f53838;
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.section3 > .grid-container {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 40px;
  width: 100%;
  margin-top: 24px;
  padding: 8px;
  text-align: left;
}

.section3 > .grid-container > .wrapper {
  color: #080047;
  padding: 16px;
  background-color: #f7f7f7;
  border-radius: 0.5rem;
}

.section3 > .grid-container > .wrapper > .icon-wrapper {
  width: fit-content;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  background-color: #2469b2;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.section3 > .grid-container > .wrapper > .icon-wrapper2 {
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  background-color: #aeffb6;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.section3 > .grid-container > .wrapper > .icon-wrapper3 {
  width: fit-content;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  background-color: #ff9696;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.section3 > .grid-container > .wrapper > h1 {
  font-size: 1.25rem;
}

.section3 > .grid-container > .wrapper > p {
  font-size: 1rem;
  font-weight: 600;
}

.section3 > .grid-container > .wrapper > .flex {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  margin-top: 40px;
}

.section3 > .grid-container > .wrapper > .flex > div {
  display: grid;
  place-items: center;
  background-color: #2469b2;
  width: 40px;
  height: 40px;
  border-radius: 9999px;
  margin-right: 10px;
}

.section3 > .grid-container > .wrapper > .flex > .wrapper2 {
  display: grid;
  place-items: center;
  background-color: #aeffb6;
  width: 40px;
  height: 40px;
  border-radius: 9999px;
  margin-right: 10px;
}

.section3 > .grid-container > .wrapper > .flex > .wrapper3 {
  display: grid;
  place-items: center;
  background-color: #ff9696;
  width: 40px;
  height: 40px;
  border-radius: 9999px;
  margin-right: 10px;
}

.section4 {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section4 > img {
  width: 75vw;
  margin: 0 auto;
}

.section4 > div > div > .discount {
  margin-top: 50px;
  color: #f53838;
  background-color: #fee9e9;
  padding: 16px 40px;
  border-radius: 9999px;
  width: fit-content;
  font-weight: 600;
}

.section4 > div > h1 {
  font-size: 2.25rem;
  text-align: left;
  color: #080047;
}

.section4 > div > p {
  text-align: left;
  font-weight: 600;
}

.section4 > div > .learnMore {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.section4 > div > .learnMore > p {
  margin: 0 8px;
  font-weight: 600;
  font-size: 1.1rem;
  color: #f53838;
}

.section5 {
  margin-top: 80px;
}

.section5 > div > .wrapper {
  padding: 28px;
  background-color: #2469b2;
  color: white;
}

.section5 > div > img {
  width: 100%;
}

.section5 > div > .wrapper > h1 {
  font-size: 1.7rem;
}

.section5 > div > .wrapper > p {
  line-height: 1.625;
}

.section5 > div > .wrapper > .flex {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 1.2rem;
}

.section5 > div > .wrapper > .flex > div {
  display: grid;
  place-items: center;
  background-color: white;
  width: 34px;
  height: 34px;
  border-radius: 9999px;
  margin-right: 10px;
}

.section5 > #photo {
  margin-top: 40px;
}

.section6 {
  margin-top: 80px;
}

.section6 > div > img {
  width: 100%;
}

.section6 > div > div > .title > h1 {
  font-size: 2rem;
}

.section6 > div > div > .title > p {
  line-height: 1.625;
  font-size: 1.1rem;
}

.section6 > div > div > .rubik {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 42px;
}

.section6 > div > div > .rubik > #getStarted {
  margin: 10px auto;
  padding: 20px 88px;
  background-color: #f53838;
  color: white;
  border: none;
  border-radius: 0.5rem;
}

.section6 > div > div > .rubik > .flex > #device {
  display: flex;
  align-items: center;
  margin: 10px auto;
  padding: 14px 80px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 9999px;
}

footer {
  padding: 16px;
  margin-top: 60px;
  background-color: #f8f8f8;
}

footer > div > .title {
  font-size: 1.2rem;
}

footer > div > div > .content {
  color: #4f5665;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 36px;
}

.margin-top {
  margin-top: 40px;
}

.margin-top2 {
  margin-top: 52px;
}

.margin-top2 > .left-content > .rubik {
  font-weight: 500;
  font-size: 1.7rem;
}

.desktop {
  display: none;
}

@media (min-width: 1024px) {
  #openToggle {
    display: none;
  }
  .sidebar {
    display: none;
  }

  .container {
    padding: 20px 48px;
  }

  .left-content > h1 {
    font-size: 1.5rem;
  }
  navbar > .middle-content {
    gap: 32px;
    display: flex;
    font-size: semibold;
  }

  navbar > .right-content {
    gap: 32px;
    display: flex;
    font-weight: 700;
  }

  .right-content > .sign-in {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    padding: 8px 16px;
    border-radius: 9999px;
  }

  .right-content > .sign-up {
    background-color: transparent;
    border: 1px solid #f53855;
    color: #f53855;
    font-size: 1rem;
    padding: 8px 16px;
    border-radius: 9999px;
  }

  .section1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    gap: 40px;
    padding: 0 52px;
  }

  .section1 > img {
    width: 40vw;
  }
  .content-section1 > .title {
    text-align: left;
  }
  .content-section1 > .title > h1 {
    font-size: 3.7rem;
    font-weight: 600;
    padding: 0 0px;
  }
  .content-section1 > .title > p {
    font-size: 1.1rem;
    color: #4f5665;
    padding: 0 0px;
    line-height: 2;
  }

  .content-section1 > .buttonGroup {
    display: block;
    margin-top: 42px;
  }

  .buttonGroup > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    margin-top: 20px;
  }

  .buttonGroup > div > #device {
    display: flex;
    align-items: center;
    row-gap: 8px;
    padding: 12px 60px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 9999px;
  }

  .section2 {
    margin: 60px auto;
    width: 60vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 40px;
  }

  .section2 > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
  }

  .section2 > img {
    width: 100px;
  }

  div > #content > h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 8px 0px;
  }

  div > #content > p {
    color: #4f5665;
    padding: 0 12px;
    line-height: 2;
  }

  div > #learnMore {
    width: 100%;
    display: flex;
    align-items: flex-start;
  }

  div > #learnMore > p {
    margin: 0 8px;
    color: #080047;
    font-weight: 600;
  }

  .section3 {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 12px;
    text-align: center;
  }

  .section3 > div {
    text-align: left;
  }

  .section3 > .grid-container {
    display: grid;
    margin-top: 0px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 40px;
    width: 100%;
    padding: 8px;
    text-align: left;
  }

  .section4 {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    text-align: center;
    gap: 60px;
  }

  .section4 > img {
    width: 45vw;
    margin: 0 auto;
  }

  .section4 > div > div > .discount {
    margin-top: 50px;
    color: #f53838;
    background-color: #fee9e9;
    padding: 16px 40px;
    border-radius: 9999px;
    width: fit-content;
    font-weight: 600;
    font-size: 1.7rem;
  }

  .section4 > div > h1 {
    font-size: 3rem;
    text-align: left;
    color: #080047;
  }
  .section4 > div > p {
    font-size: 1.1rem;
  }
  .section4 > div > .learnMore > p {
    margin: 0 0;
    font-weight: 600;
    font-size: 1.1rem;
    color: #f53838;
  }

  .section5 > div {
    display: flex;
    margin: 0 -48px;
  }

  .section5 > div > .wrapper {
    width: 50%;
  }

  .section5 > div > .flex {
    display: grid;
    place-items: center;
    background-color: #2469b2;
    width: 40px;
    height: 40px;
    border-radius: 9999px;
    margin-right: 10px;
  }

  .section5 > div > .wrapper > h1 {
    font-size: 2.7rem;
    padding: 0 40px;
  }

  .section5 > div > .wrapper > p {
    font-size: 1.1rem;
    padding: 0 40px;
    line-height: 1.625;
  }

  .section5 > div > img {
    width: 50%;
  }

  .section5 > div > .wrapper > .flex {
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 1.2rem;
    padding: 0 40px;
  }

  .section5 > div > .wrapper > .flex > div {
    display: grid;
    place-items: center;
    background-color: white;
    width: 34px;
    height: 34px;
    border-radius: 9999px;
    margin-right: 10px;
  }

  .section6 > .flex {
    display: flex;
  }

  .section6 > .flex > img {
    width: 50%;
  }

  .section6 > .flex > img {
    width: 50%;
  }

  .section6 > .flex > .content {
    width: 40%;
  }
  .section6 > .flex > .content > .title > h1 {
    font-size: 3rem;
  }
  .section6 > .flex > .content > .title > p {
    font-weight: 600;
  }

  .section6 > .flex > .content > .rubik {
    display: block;
  }

  .section6 > .flex > .content > .rubik > .flex {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .section6 > .flex > .content > .rubik > .flex > #device {
    padding: 10px 40px;
  }

  .desktop {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    place-items: center;
  }

  #mobile {
    display: none;
  }

  footer {
    display: flex;
    flex-direction: row-reverse;
    padding: 40px;
    gap: 70px;
  }

  footer > #content {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  footer > .margin-top2 {
    width: 30%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .margin-top{
    margin: 0;
  }
}
